<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>Covered Call Tool</title>
  <link rel="stylesheet" href="/css/darkly.min.css">
  <style>
    .bg-green {
      background-color: #dff0d8;
    }
    .bg-red {
      background-color: #f2dede;
    }
  </style>
</head>

<body>
  <!-- Content -->
  <div class="container">
    <div class="row">
      <h1>QQQ: ${{quote.last}}</h1>
      {% if date %}
        <h3>{{date}}</h3>  
      {% endif %}
      
    </div>
    <div class="row">
      <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
      {% for expiration_week in dates %}
          <div class="btn-group mr-2" role="group" style="margin-bottom: 10px;" aria-label="First group">
          {% for expiration in expiration_week %}
            
            {% if date and date === expiration.toFormat('yyyy-MM-dd') %}
              <a type="button" class="btn btn-secondary active" href="QQQ/{{expiration.toFormat('yyyy-MM-dd')}}">{{expiration.toFormat('MMM dd')}}</a>
            {% else %}
              <a type="button" class="btn btn-secondary" href="/QQQ/{{expiration.toFormat('yyyy-MM-dd')}}">{{expiration.toFormat('MMM dd')}}</a>
            {% endif %}
          {% endfor %}
          </div>
      {% endfor %}
      </div>
    </div>
    <div class="row">
      <table class="table">
        <thead class="">
          <tr>
            <th scope="col">Strike</th>
            <th scope="col">Premium</th>
            <th scope="col">Yield Assigned ($)</th>
            <th scope="col">Yield Assigned (%)</th>
            <th scope="col">Break Even</th>
            <th scope="col">Avg Daily Yield ($/d)</th>
            <th scope="col">ADY(ppm/d)</th>
            
            
            
          </tr>
        </thead>
        <tbody>
          {% if chain %}
            {% for option in chain %}
              <tr class="">
                <th scope="row" class = "{% if option.strike > quote.last %}text-warning{% else %}text-success{% endif %}">${{option.strike}}</th>
                <td>{{option.mark | round(2)}}</td>
                <td class="text-success"><b>${{option.assignment_gain | round(2)}} </b></td>
                <td>{{option.assignment_gain_percent | round(2)}}%</td>
                <td>{{option.break_even | round(2)}}</td>
                <td>{{option.time_gain | round(2)}}</td>
                <td>{{(10000*option.time_gain_percent) | round }}</td>
                 
                
              </tr>              
            {% endfor %}
          {% endif %}
        </tbody>
      </table>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="/js/bootstrap.min.js"></script>
</body>
</html> 